// Colour palette management
@function palette($section, $color, $tone: false) {
	@if $tone {
		@return map-get(map-get(map-get($palette, $section), $color), $tone);
	}
	@else {
		@return map-get(map-get($palette, $section), $color);
	}
}

// Strip units from values
@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

// Convert pixels to rems
@function convert-to-rem($value, $base-value: $global-base)  {
	$value: strip-unit($value) / strip-unit($base-value) * 1rem;
	@if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
	@return $value;
}

@function rem-calc($values, $base-value: $base-font-size) {
	$max: length($values);
	@if $max == 1 { @return convert-to-rem(nth($values, 1), $base-value); }
	$emValues: ();
	@for $i from 1 through $max {
		$emValues: append($emValues, convert-to-rem(nth($values, $i), $base-value));
	}
	@return $emValues;
}

@function em-calc($values, $base-value: $base-font-size) {
	@return rem-calc($values, $base-value);
}


// String replace
@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);
	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}
	@return $string;
}

// Encode hash symbols (for icon colours)
@function encoded-hash($string) {
	$string: "" + $string;
	$string: str-replace($string, "#", "%23");
	@return $string;
}

// Return black or white to complement variably coloured backgrounds
@function black-or-white($color) {
	@if (lightness($color) > 50) {
		@return #000;
	}
	@else {
		@return #fff;
	}
}