// Get things from configuration
@function config($section, $key, $variant: false) {
	$return: false;
	@if $variant {
		$return: map-get(map-get(map-get($config, $section), $key), $variant);
	}
	@else {
		$return: map-get(map-get($config, $section), $key);
	}
	@if type_of($return) == 'string' {
		@return unquote($return);
	}
	@else {
		@return $return;
	}
}

// Strip units from values
@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

// Convert pixels to rems
@function convert-to-rem($value, $base-value: $global-base)  {
	$value: strip-unit($value) / strip-unit($base-value) * 1rem;
	@if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
	@return $value;
}

@function rem-calc($values, $base-value: config(layout, rem-unit)) {
	$max: length($values);
	@if $max == 1 { @return convert-to-rem(nth($values, 1), $base-value); }
	$emValues: ();
	@for $i from 1 through $max {
		$emValues: append($emValues, convert-to-rem(nth($values, $i), $base-value));
	}
	@return $emValues;
}