/**
 * Font family
 */

@mixin font-default {
	font-family: config(fonts, body-font-family);
}

@mixin font-header {
	font-family: config(fonts, header-font-family);
}

@mixin font-monospace {
	font-family: config(fonts, monospace-font-family);
}

/**
 * Font size
 */

@mixin size-default {
	font-size: rem-calc(16px);
}

@mixin size-h1 {
	font-size: rem-calc(96px);
}

@mixin size-h2 {
	font-size: rem-calc(80px);
}

@mixin size-h3 {
	font-size: rem-calc(48px);
}

@mixin size-h4 {
	font-size: rem-calc(36px);
}

@mixin size-h5 {
	font-size: rem-calc(24px);
}

@mixin size-h6 {
	font-size: rem-calc(20px);
}

@mixin size-small {
	font-size: rem-calc(14px);
}

@mixin size-responsive($size, $min: false, $max: false) {
	// Hat tip to Eduardo Boucas. https://css-tricks.com/snippets/sass/viewport-sized-typography-minimum-maximum-sizes/
	$sizeUnitless: $size / ($size - $size + 1);
	$dimension: if(unit($size) == 'vh', 'height', 'width');
	$breakpointMin: $min / $sizeUnitless * 100;
	@media (max-#{$dimension}: #{$breakpointMin}) {
		font-size: $min;
	}
	@if $max {
		$breakpointMax: $max / $sizeUnitless * 100;
		@media (min-#{$dimension}: #{$breakpointMax}) {
			font-size: $max;
		}
	}
	font-size: $size;
}

/**
 * Leading
 */

@mixin lead-default {
	line-height: 1.5;
}

@mixin lead-title {
	line-height: 1.25;
}

@mixin lead-solid {
	line-height: 1;
}

/**
 * Measure
 */

@mixin measure-default {
	max-width: 30em;
}

@mixin measure-wide {
	max-width: 34em;
}

@mixin measure-narrow {
	max-width: 20em;
}

/**
 * Tracking
 */

@mixin track-default {
	letter-spacing: normal;
}

@mixin track-wide {
	letter-spacing: .1em;
}

@mixin track-narrow {
	letter-spacing: -.05em;
}

/**
 * Typography helpers
 */


// Antialias text
@mixin antialiasing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Hide copy (for image replacement)
@mixin hide-text {
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
}

// Force long words to break across lines
@mixin force-wrap {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}
