/**
 * Media query management
 * @param {string}  $breakpoint  The name of the breakpoint OR a media query string.
 */

@mixin mq($breakpoint) {
	$map-breakpoints: map-get($config, breakpoints);
	@if map-has-key($map-breakpoints, $breakpoint) {
		@media #{map-get($map-breakpoints, $breakpoint)} {
			@content;
		}
	}
	@else {
		@media #{$breakpoint} {
			@content;
		}
	}
}

/**
 * Input placeholder styling
 */

@mixin placeholder {
	&::-webkit-input-placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
}

/**
 * Selection highlight styling
 */

@mixin selection {
	::-moz-selection { @content; }
	::selection { @content; }
}

/** 
 * Disable selection (do not use this unless you're really sure about it)
 */

@mixin disable-selection {
	-webkit-touch-callout: none;
	user-select: none;
}