/**
 * Font family
 */

@mixin font-default {
	font-family: config(fonts, stacks, body);
}

@mixin font-header {
	font-family: config(fonts, stacks, header);
}

@mixin font-monospace {
	font-family: config(fonts, stacks, monospace);
}

/**
 * Font size
 */

@mixin size-default {
	font-size: config(fonts, sizes, default, small);
	@include mq(tos) {
		font-size: config(fonts, sizes, default, large);
	}
}

@mixin size-lead {
	font-size: config(fonts, sizes, lead, small);
	@include mq(tos) {
		font-size: config(fonts, sizes, lead, large);
	}
}

@mixin size-small {
	font-size: config(fonts, sizes, small);
}

@mixin size-heading-s {
	font-size: config(fonts, sizes, heading-s, small);
	@include mq(tos) {
		font-size: config(fonts, sizes, heading-s, large);
	}
}

@mixin size-heading-m {
	font-size: config(fonts, sizes, heading-m, small);
	@include mq(tos) {
		font-size: config(fonts, sizes, heading-m, large);
	}
}

@mixin size-heading-l {
	font-size: config(fonts, sizes, heading-l, small);
	@include mq(tos) {
		font-size: config(fonts, sizes, heading-l, large);
	}
}

@mixin size-heading-xl {
	font-size: config(fonts, sizes, heading-xl, small);
	@include mq(tos) {
		font-size: config(fonts, sizes, heading-xl, large);
	}
}

@mixin size-responsive($size, $min: false, $max: false) {
	// Hat tip to Eduardo Boucas. https://css-tricks.com/snippets/sass/viewport-sized-typography-minimum-maximum-sizes/
	$sizeUnitless: $size / ($size - $size + 1);
	$dimension: if(unit($size) == "vh", "height", "width");
	$breakpointMin: $min / $sizeUnitless * 100;
	@media (max-#{$dimension}: #{$breakpointMin}) {
		font-size: $min;
	}
	@if $max {
		$breakpointMax: $max / $sizeUnitless * 100;
		@media (min-#{$dimension}: #{$breakpointMax}) {
			font-size: $max;
		}
	}
	font-size: $size;
}

/**
 * Leading
 */

@mixin lead-default {
	line-height: 1.5;
}

@mixin lead-title {
	line-height: 1.25;
}

@mixin lead-solid {
	line-height: 1;
}

/**
 * Measure
 */

@mixin measure-default {
	max-width: 30em;
}

@mixin measure-wide {
	max-width: 34em;
}

@mixin measure-narrow {
	max-width: 20em;
}

/**
 * Tracking
 */

@mixin track-default {
	letter-spacing: normal;
}

@mixin track-wide {
	letter-spacing: .1em;
}

@mixin track-narrow {
	letter-spacing: -.05em;
}

/**
 * Typography helpers
 */


// Antialias text
@mixin antialiasing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Hide copy (for image replacement)
@mixin hide-text {
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
}

// Force long words to break across lines
@mixin force-wrap {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}
