// Settings - Breakpoints 
$breakpoints: (
	ent: "only screen and (min-width: 420px)",
	tos: "only screen and (min-width: 600px)",
	tng: "only screen and (min-width: 770px)",
	ds9: "only screen and (min-width: 1024px)",
	voy: "only screen and (min-width: 1280px)"
);

// Settings - Typography
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size: 16px;

// Settings - Colour palette
$palette: (
	brand: (
	),
	section: (
	),
	context: (
		accessibility: #fc0,
		success: #4caf50,
		warning: #ffc107,
		error: #f44336
	)
);