$config: (
	breakpoints: (
		ent: 420px,
		dis: 600px,
		tos: 770px,
		tng: 1024px,
		ds9: 1280px,
		voy: 1600px
	),
	fonts: (
		header-font-family: "Montserrat, 'Helvetica Neue', Arial, sans-serif",
		body-font-family: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
		monospace-font-family: "Hack, Consolas, Monaco, 'Andale Mono', monospace"
	),
	palette: (
		primary: (),
		neutral: (
			lightest: #efeff0,
			lighter: #b9b9c0,
			light: #8c8c9c,
			mid: #778,
			dark: #636373,
			darker: #3f3f46,
			darkest: #1f1f20
		),
		context: (
			accessibility: #fc0,
			success: #4caf50,
			warning: #ffc107,
			error: #f44336
		)
	),
	layers: (
		modal: 9000,
		backdrop: 8000,
		overlay: 1000,
		default: 1,
		underlay: -1
	),
	animation: (),
	layout: (
		rem-unit: 16px
	)
);