.skiplink {
	display: block;
	padding: 15px 20px;
	position: absolute;
	top: -9999em;
	left: -9999em;
	background-color: palette(context, accessibility);
	color: #000;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	z-index: 9999;
	&:focus {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
	}
}

*:focus {
	outline: 2px solid palette(context, accessibility);
}