.accessibility-links {
	position: absolute;
	top: -9999px;
	left: -9999px;
	a {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 9999;
		padding: 15px 20px;
		background-color: palette(context, accessibility);
		color: #000;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		transform: translateY(-100%);
		transition: transform .1s linear;
		&[href='#top'] {
			top: auto;
			bottom: 0;
			transform: translateY(100%);
		}
		&:focus {
			transform: translateY(0);
		}
	}
}

*:focus {
	outline: 2px solid palette(context, accessibility);
}