html {
	background-color: #fff;
}

body {
	@include font-default;
	@include size-default;
	padding-left: constant(safe-area-inset-left);
	padding-right: constant(safe-area-inset-right);
	background-color: transparent;
	color: config(palette, neutral, darkest);
}