@import 
	 "app/settings"
	,"app/functions"
	,"app/mixins"
	,"app/mixins.layout"
	,"app/mixins.theme"
	,"app/mixins.typography"
;

.Fractal-Swatch {
	display: inline-block;
	width: 10rem;
	margin-right: 2em;
	margin-bottom: 3em !important;
	background-image: linear-gradient(45deg, #ccc 25%, transparent 25%), linear-gradient(-45deg, #ccc 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ccc 75%), linear-gradient(-45deg, transparent 75%, #ccc 75%);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
	vertical-align: top;
	&__swatch {
		height: 8em;
	}
	&__details {
		width: 100%;
		padding-top: 5px;
		background-color: #fff;
		font-variant-ligatures: none;
		&::before {
			display: block;
			font-size: rem-calc(14px);
			font-family: monospace;
			text-transform: lowercase;
		}
	}
	@each $group, $palette in map-get($config, palette) {
		@each $key, $color in $palette {
			&--#{$group}-#{$key} {
				.Fractal-Swatch__swatch {
					background-color: $color;
				}
				.Fractal-Swatch__details {
					&::before { content: '#{$color}'; }
				}
			}
		}
	}
}

.Fractal-TypeSample {
	margin-bottom: 1rem;
	padding: 1rem;
	background-color: #eee;
	white-space: nowrap;
	overflow: hidden;
	&__label {
		margin-top: .5rem;
		font-size: 12px;
		letter-spacing: 1px;
	}
	&__sample {
		line-height: 1;
	}
}

.Fractal-SpaceSample {
	line-height: 0;
	&__space {
		background-color: config(palette, neutral, lighter);
		&--0 { @include padding-spacing(0, bottom); }
		&--1 { @include padding-spacing(1, bottom); }
		&--2 { @include padding-spacing(2, bottom); }
		&--3 { @include padding-spacing(3, bottom); }
		&--4 { @include padding-spacing(4, bottom); }
		&--5 { @include padding-spacing(5, bottom); }
		&--6 { @include padding-spacing(6, bottom); }
		&--7 { @include padding-spacing(7, bottom); }
		&--8 { @include padding-spacing(8, bottom); }
		&--9 { @include padding-spacing(9, bottom); }
		&:nth-child(even) {
			background-color: config(palette, neutral, lightest);
		}
	}
}

.Fractal-Icon {
	display: inline-block;
	width: 25%;
	&__preview {
		padding: 1rem;
		color: #000;
		background-color: #eee;
		&:hover {
			color: #fff;
			background-color: #000;
		}
		svg {
			width: 100%;
			height: 8em;
		}
	}
	&__label {
		margin-top: .5rem;
	}
}